@use 'abstract' as abs;

main {
  padding: 3rem 0;
  overflow: hidden;

  .section-one {
    padding: 0.875rem 0;

    &__title {
      margin: 4rem 0;

      h2 {
        font-size: 2rem;
        color: var(--clr-primary-blue);
      }
    }

    &--grid {
      display: grid;
      grid-gap: 1.9rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto auto;
      overflow: hidden;

      @include abs.media-query(medium) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        position: relative;
        overflow: visible;
      }
    }

    &__first {
      grid-row: 2 / 3;

      @include abs.media-query(medium) {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        z-index: 10;
      }
    }

    &__second {
      grid-row: 3 / 4;

      @include abs.media-query(medium) {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        z-index: 10;
      }
    }

    &__image-desktop {
      display: none;

      @include abs.media-query(medium) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 600px;
        width: 600px;
        z-index: 5;
        transform: translate(40%, -30%);
      }
    }

    article > .text {
      text-align: center;

      @include abs.media-query(medium) {
        text-align: left;
        font-size: 0.875rem;
      }
    }

    article > h3 {
      margin-bottom: 1rem;
      text-align: center;

      @include abs.media-query(medium) {
        font-size: 1.4rem;
        text-align: left;
      }
    }

    &__image-mobile {
      grid-row: 1 / 2;
      object-fit: cover;

      @include abs.media-query(medium) {
        display: none;
      }
    }
  }

  .section-two {
    background: url("../../../images/bg-pattern-circles.svg") top -280px center no-repeat,
      linear-gradient(
        160deg,
        var(--clr-background-body-blue-200),
        var(--clr-background-body-blue-100)
      );
    background-size: 160%;
    border-radius: 0 6rem 0 6rem;

    height: 70vh;
    margin-top: 12rem;
    margin-bottom: 2rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;

    @include abs.media-query(medium) {
      background: url("../../../images/bg-pattern-circles.svg") top -600px left -300px
          no-repeat,
        linear-gradient(
          160deg,
          var(--clr-background-body-blue-200),
          var(--clr-background-body-blue-100)
        );
      height: 50vh;
      margin-bottom: 12rem;
    }

    &--grid {
      position: relative;
      padding: 4rem 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 1fr;

      @include abs.media-query(medium) {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
      }
    }

    &__image {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);

      @include abs.media-query(medium) {
        right: 0;
        top: 50%;
        grid-column: 1 / 2;
      }
    }

    article {
      //margin-top: 6rem;
      grid-column: 2 / 3;
      grid-row: 2 / 3;

      h3 {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 2.4rem;
        color: var(--clr-neutral-white);

        @include abs.media-query(medium) {
          text-align: left;
          font-size: 1.8rem;
        }
      }

      .text {
        text-align: center;
        color: var(--clr-neutral-white);

        @include abs.media-query(medium) {
          font-size: 0.875rem;
          text-align: left;
        }
      }
    }
  }

  .section-three {
    padding: 0.875rem 0;

    &--grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto auto;
      grid-gap: 1.9rem;

      @include abs.media-query(medium) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        position: relative;
        overflow: visible;
      }
    }

    &__first {
      @include abs.media-query(medium) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }

    &__second {
      @include abs.media-query(medium) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
    }

    &__image-mobile {
      object-fit: cover;
      height: 95vw;

      @include abs.media-query(medium) {
        display: none;
      }
    }

    &__image-desktop {
      display: none;
      object-fit: cover;

      @include abs.media-query(medium) {
        display: block;
        position: absolute;
        height: 50vw;
        top: 0;
        left: 0;
        transform: translate(-40%, -20%);
      }
    }

    article > h3 {
      text-align: center;
      margin-bottom: 1rem;

      @include abs.media-query(medium) {
        font-size: 1.4rem;
        text-align: left;
      }
    }

    .text {
      text-align: center;

      @include abs.media-query(medium) {
        text-align: left;
        font-size: 0.875rem;
      }
    }
  }
}
