@use 'colors' as *;
@use 'typography' as *;

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }
}

body {
  min-height: 100vh;
  color: var(--clr-neutral-blue-300);
  font-family: $font-overpass;
}

.container {
  width: 88%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: $font-overpass;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-family: $font-overpass;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-family: $font-overpass;
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--clr-primary-blue);
}

h4 {
  font-family: $font-overpass;
  font-weight: 300;
  text-align: center;
}

h5 {
  font-family: $font-ubuntu;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--clr-neutral-white);
}

p {
  font-family: $font-overpass;
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--clr-neutral-blue-300);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: $font-ubuntu;
}

button {
  margin: 1rem 0;
}
